<div class="site-footer color-footer pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mr-auto">
        <div class="widget">
          <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
            Navegação <span class="text-primary"></span>
          </h2>
          <ul class="list-unstyled float-left links">
            <li><a routerLink='/home' class="ct"> <h3 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
              inicio
            </h3></a></li>
            <li><a routerLink="/produtos" class="ct"><h3 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
              produtos
            </h3></a></li>
            <li><a routerLink="/contato" class="ct"><h3 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
              contato
            </h3></a></li>
            <li><a routerLink="/login" class="ct"><h3 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
              login
            </h3></a></li>
            <li><a routerLink="/cadastro" class="ct"><h3 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
              cadastro
            </h3></a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-2 ml-auto">
        <div class="widget">
          <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
            formas de pagamento
          </h2>
          <ul class="list-unstyled float-left links mb-2">
            <li><img class="mb-1" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" alt="visa"></li>
            <li><img class="mb-1" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" alt="mastercard"></li>
            <li><img class="mb-1" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/br/elo@2x.png" alt="elo"></li>
            <li><img class="mb-1" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/br/boleto@2x.png" alt="boleto"></li>
          </ul>
          
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <div class="widget">
          <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
            formas de envio
          </h2>
          <ul class="list-unstyled float-left links">
            <li><img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/br/correios@2x.png" alt="correios"></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <div class="widget"></div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
    <div class="footer-copyright color-footer text-center py-3 margin">
      <span
        class="text-dark texto text-uppercase font-weight-bold text-align-end font-weight-bold"
      >
        Copyright Loja Universa Beauty - 2020&copy; Todos os direitos
        reservados.
      </span>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.site-footer -->
