@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.tp-estilo{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
}

.ct{
    color: #5d5866;
}

.ct:hover{
    color: #E14273;
}

.color-footer{
 background: #f19ae2;
}