<div class="container"><a href="#produtos">Ir para produtos</a></div>
<!-- container com serviços-->
<div class="d-flex justify-content-center pt-3">
    <div class="p-3 mr-3">
        <fa-icon [icon]="faTruck" class="faTruck fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold">ENVIAMOS PARA TODO BRASIL</h5>
        <p class="tp-txt">Compre sem sair de casa</p>
    </div>
    <div class="p-3 mr-3">
        <fa-icon [icon]="faCreditCard" class="faCreditCard fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> PARCELAMOS EM ATÉ 5X SEM JUROS</h5>
        <p class="tp-txt">Com todos os cartões de credito</p>
    </div>
    <div class="p-3">
        <fa-icon [icon]="faLock" class="faLock fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> COMPRE COM SEGURANÇA</h5>
        <p class="tp-txt">Seus dados sempre protegidos</p>
        </div>
  </div>
<br>
<hr>
<!--inicio-->

<div class="container d-flex justify-content-center">
    <ul>
        <li><a routerLink="/home"><fa-icon [icon]="faHome" class="faHome fa-1x p-3"></fa-icon>Início  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎ </a></li>
    </ul>
   </div>
<hr>
<!--container com produtos-->
<div class="container d-flex justify-content-center">
        
    <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold" id="produtos">
   
        Produtos
        
    </h2>
</div>
<hr>
<!--categoria de produtos-->
<div class="container">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active font-weight-bold categoria" id="nav-todosprodutos-tab" data-toggle="tab" href="#nav-todosprodutos" role="tab" aria-controls="nav-todosprodutos" aria-selected="true">Todos os Produtos</a>

      <a class="nav-item nav-link font-weight-bold categoria" id="nav-lancamentos-tab" data-toggle="tab" href="#nav-lancamentos" role="tab" aria-controls="nav-lancamentos" aria-selected="false">Lançamentos</a>

      <a class="nav-item nav-link font-weight-bold categoria" id="nav-kitbeauty-tab" data-toggle="tab" href="#nav-kitbeauty" role="tab" aria-controls="nav-kitbeauty" aria-selected="false">Kit Beauty</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-todosprodutos" role="tabpanel" aria-labelledby="nav-todosprodutos-tab">
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#produtinhos"> Ver produtos</button>
    </div>
    <div class="tab-pane fade" id="nav-lancamentos" role="tabpanel" aria-labelledby="nav-lancamentos-tab">
      Lançamentos
    </div>
    <div class="tab-pane fade" id="nav-kitbeauty" role="tabpanel" aria-labelledby="nav-kitbeauty-tab">
      Kit Beauty
    </div>
  </div>
  </div>
  <br />
  <hr>



  <!--siga nos-->
  <div class="container d-flex justify-content-center">
    <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold ">
         
      siga-nos
      
  </h2>
  </div>
  
  <div class="container d-flex justify-content-center">
    <p class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
      <a href="https://www.instagram.com/universabeauty/" target="_blank"><fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-2"></fa-icon></a><a href="https://www.instagram.com/universabeauty/" target="_blank"><fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-2"></fa-icon></a>
    </p>
  
  </div>
  <hr>

  <!--MODAL AO CLICAR NUM PRODUTO VAI APARECER AS INFORMAÇÕES DO PRODUTO-->

<!-- Modal -->
<div class="modal fade" id="produtinhos" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" >
      <div class="modal-header" *ngFor='let produto of listaProduto'>
        <h5 class="modal-title" id="TituloModalCentralizado">{{produto.nome}}</h5>
        <div class="modal-body">
          Descrição: {{produto.descricao}}
          <hr>
         Preço: R${{produto.preco}}
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" routerLink='/compras' data-dismiss="modal">Ir às compras</button>
      </div>
    </div>
  </div>
</div>