<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/assets/img/logo2.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/home" id="inicio">INICIO <span class="sr-only">(página atual)</span></a>
          </li>
          <div *ngIf='auth.btnLogin()'>
            <li class="nav-item">
              <a class="nav-link" routerLink="/produtos" id="produtos">PRODUTOS</a>
            </li>
          </div>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contato" id="contato">CONTATO</a>
            </li>
            <div *ngIf='auth.btnLogin()'>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" id="login">LOGIN</a>
              </li>
            </div>
           
            <div *ngIf='auth.btnLogin()'>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cadastro" id="cadastro">CADASTRO</a>
            </li>
            </div>
            <div *ngIf='auth.btnSair()'>
            <li class="nav-item">
              <a class="nav-link" routerLink="/acesso" id="cadastro">ACESSO</a>
            </li>
          </div>
          <div *ngIf='auth.btnSair()'>
            <li class="nav-item">
              <a class="nav-link" id="sair" (click)='sair()'>SAIR</a>
            </li>
          </div>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <fa-icon [icon]="faShoppingCart" class="faShoppingCart fa-1x p-3" (click)='comprar()'></fa-icon>
         <h4>Ir às Compras</h4>
        </form>
      </div>
   
    </div>
  </nav>