<!--PARALAX-->
<div class="paralax"></div>

<!-- container com serviços-->
<div class="d-flex justify-content-center pt-3">
    <div class="p-3 mr-3">
        <fa-icon [icon]="faTruck" class="faTruck fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold">ENVIAMOS PARA TODO BRASIL</h5>
        <p class="tp-txt">Compre sem sair de casa</p>
    </div>
    <div class="p-3 mr-3">
        <fa-icon [icon]="faCreditCard" class="faCreditCard fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> PARCELAMOS EM ATÉ 3X SEM JUROS</h5>
        <p class="tp-txt">Com todos os cartões de credito</p>
    </div>
    <div class="p-3">
        <fa-icon [icon]="faLock" class="faLock fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> COMPRE COM SEGURANÇA</h5>
        <p class="tp-txt">Seus dados sempre protegidos</p>
        </div>
  </div>
<br>
<!--container com destaques-->
    <div class="container d-flex justify-content-center">
        
        <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
       
            Destaques
            
        </h2>
    </div>
<hr>
<!--categoria de produtos-->
<div class="container">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active font-weight-bold categoria" id="nav-todosprodutos-tab" data-toggle="tab" href="#nav-todosprodutos" role="tab" aria-controls="nav-todosprodutos" aria-selected="true">Todos os Produtos</a>

      <a class="nav-item nav-link font-weight-bold categoria" id="nav-lancamentos-tab" data-toggle="tab" href="#nav-lancamentos" role="tab" aria-controls="nav-lancamentos" aria-selected="false">Lançamentos</a>

      <a class="nav-item nav-link font-weight-bold categoria" id="nav-destaques-tab" data-toggle="tab" href="#nav-destaques" role="tab" aria-controls="nav-destaques" aria-selected="false">Destaques</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-todosprodutos" role="tabpanel" aria-labelledby="nav-todosprodutos-tab">
     <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#produtinhos"> Ver produtos</button>
    </div>
    <div class="tab-pane fade mt-3" id="nav-lancamentos" role="tabpanel" aria-labelledby="nav-lancamentos-tab">
      Lançamentos
    </div>
    <div class="tab-pane fade mt-3" id="nav-destaques" role="tabpanel" aria-labelledby="nav-destaques-tab">
      Kit Beauty
    </div>
  </div>
  </div>
  <br />
  <hr>

<hr>
<!--row com botao para ver todos os produtos
<div class="container">
    <div class="row">
   <div class="col-md-12">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top cursor" src="/assets/img/poseidon.jpg" alt="poseidon" (click)='compras()'>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase">Creme Hidratante Corporal - Poseidon</h5>
            <p class="card-text tp-text text-center">R$129,90</p>
            <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>3x</b> DE R$25,98 SEM JUROS</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top cursor" src="/assets/img/creme.jpeg" alt="creme" (click)='compras()'>
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Hidratante para Mãos - Toque Suave</h5>
            <p class="card-text tp-text text-center">R$159,90</p>
            <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>3X</b> DE R$29,98 SEM JUROS</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top cursor" src="/assets/img/perfume.jpg" alt="perfume" (click)='compras()'>
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Essência Masculina - Deep Love</h5>
            <p class="card-text tp-text text-center">R$149,90</p>
            <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>3X</b> DE R$31,98 SEM JUROS</small></p>
          </div>
        </div>
      </div>
   </div>
    </div>
</div>
<hr>-->

<!--col-md-12 com formulario pra receber informações-->
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12 text-center">
      <h5>Nosso Newsletter</h5>
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="nomeCliente">Inscreva-se para receber as últimas novidades.</label>
            <input type="text" class="form-control" name="nomeCliente" id="nomeCliente" placeholder="Nome Completo">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="emailCliente" id="emailCliente" aria-describedby="emailHelp" placeholder="Seu E-mail">
            </div>
         
          <button type="submit" class="btn btn-primary-botao-estilo text-uppercase ">inscrever-se</button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
<!--col-md-12 com os icones do face e insta-->
<div class="container d-flex justify-content-center">
  <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-2"></fa-icon><a href="https://www.instagram.com/universabeauty/" target="_blank" class="estilo-a"><p class="tp-txt fa-2x p-2 font-weight-bold">@universabeauty</p></a>
  
</div>
<hr>
<!-- carrousel de imagens-->
<div class="tamanho">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/carousel-1.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/carousel-2.jpg" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/carousel-3.jpg" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
</div>
<hr>
<div class="container d-flex justify-content-center">
  <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold ">
       
    siga-nos
    
</h2>
</div>

<div class="container d-flex justify-content-center">
  <p class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
    <a href="https://www.instagram.com/universabeauty/" target="_blank"><fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-2"></fa-icon></a><a href="https://www.instagram.com/universabeauty/" target="_blank"><fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-2"></fa-icon></a>
  </p>

</div>
<hr>
<a class="whatsapp-link" href="https://web.whatsapp.com/send?phone=5511991157573" target="_blank">
 <fa-icon [icon]="faWhatsapp" class="fa-2x"></fa-icon>
</a>

 <!--MODAL AO CLICAR NUM PRODUTO VAI APARECER AS INFORMAÇÕES DO PRODUTO-->

<!-- Modal -->
<div class="modal fade" id="produtinhos" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <div class="modal-body">
          <div class="card">
            <img class="card-img-top cursor" src="/assets/img/poseidon.jpg" alt="poseidon" (click)='compras()' data-dismiss="modal">
            <div class="card-body">
              <h5 class="card-title text-center text-uppercase">Creme Hidratante Corporal - Poseidon</h5>
              <p class="card-text tp-text text-center">R$129,90</p>
              <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>3x</b> DE R$25,98 SEM JUROS</small></p>
            </div>
            <div class="card mb-3">
              <img class="card-img-top cursor" src="/assets/img/creme.jpeg" alt="creme" (click)='compras()' data-dismiss="modal">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-center">Hidratante para Mãos - Toque Suave</h5>
                <p class="card-text tp-text text-center">R$159,90</p>
                <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>3X</b> DE R$29,98 SEM JUROS</small></p>
              </div>
              <div class="card mb-3">
                <img class="card-img-top cursor" src="/assets/img/perfume.jpg" alt="perfume" (click)='compras()'>
                <div class="card-body">
                  <h5 class="card-title text-uppercase text-center">Essência Masculina - Deep Love</h5>
                  <p class="card-text tp-text text-center">R$149,90</p>
                  <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>3X</b> DE R$31,98 SEM JUROS</small></p>
                </div>
              </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" routerLink='/compras' data-dismiss="modal">Ir às compras</button>
      </div>
    </div>
  </div>
</div>