@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.paralax{
    background-image: url('/assets/img/universa2.png');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}

.tp-text{
    font-family: 'Oswald', sans-serif;
    color: #5B5B5B;
    letter-spacing: 2px;
}

.tp-txt{
    font-family: 'Montserrat', sans-serif;
    color: #5B5B5B;
    letter-spacing: 2px;
}

.faTruck, .faCreditCard, .faLock{
    color: #5B5B5B;
}

.tp-estilo{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}

.faInstagram, .faFacebook {
    text-decoration: none;
    color: #E14273;
    border-color:#E14273;   
}

a{
    text-decoration: none;
}

.tamanho{
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}

.btn-primary-botao-estilo {
    border-color: #D76079;
    color:#ffffff;
    background: #D76079;
}

.btn-primary-botao-estilo:hover{
    color: #474141;
    
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 16px;
    right: 16px;
    background-color: #31D52C;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 21px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.whatsapp-link:link,
.whatsapp-link:visited{
    transition: all .2s;
}

.whatsapp-link:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.whatsapp-link:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cursor{
    cursor: pointer;
}