<!--PARALAX-->
<div class="paralax"></div>

<!-- container com serviços-->
<div class="d-flex justify-content-center pt-3">
    <div class="p-3 mr-3">
        <fa-icon [icon]="faTruck" class="faTruck fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold">ENVIAMOS PARA TODO BRASIL</h5>
        <p class="tp-txt">Compre sem sair de casa</p>
    </div>
    <div class="p-3 mr-3">
        <fa-icon [icon]="faCreditCard" class="faCreditCard fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> PARCELAMOS EM ATÉ 5X SEM JUROS</h5>
        <p class="tp-txt">Com todos os cartões de credito</p>
    </div>
    <div class="p-3">
        <fa-icon [icon]="faLock" class="faLock fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> COMPRE COM SEGURANÇA</h5>
        <p class="tp-txt">Seus dados sempre protegidos</p>
        </div>
  </div>
<br>
<!--container com destaques-->
    <div class="container d-flex justify-content-center">
        
        <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
       
            Destaques
            
        </h2>
    </div>
<hr>
<!--row com botao para ver todos os produtos-->
<div class="container">
    <div class="row">
   <div class="col-md-12">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/assets/img/poseidon.jpg" alt="poseidon">
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase">Creme Hidratante Corporal - Poseidon</h5>
            <p class="card-text tp-txt text-center">R$129,90</p>
            <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted">5x DE R$25,98 SEM JUROS</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/creme.jpeg" alt="creme">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Hidratante para Mãos - Toque Suave</h5>
            <p class="card-text tp-text text-center">R$159,90</p>
            <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>5X</b> DE R$29,98 SEM JUROS</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/perfume.jpg" alt="perfume">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Essência Masculina - Deep Love</h5>
            <p class="card-text tp-text text-center">R$149,90</p>
            <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted">5x DE R$31,98 SEM JUROS</small></p>
          </div>
        </div>
      </div>
   </div>
    </div>
</div>
<hr>

<!--col-md-12 com formulario pra receber informações-->
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12 text-center">
      <h5>Nosso Newsletter</h5>
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="nomeCliente">Inscreva-se para receber as últimas novidades.</label>
            <input type="text" class="form-control" name="nomeCliente" id="nomeCliente" placeholder="Nome Completo">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="emailCliente" id="emailCliente" aria-describedby="emailHelp" placeholder="Seu E-mail">
            </div>
         
          <button type="submit" class="btn btn-primary-botao-estilo text-uppercase ">inscrever-se</button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
<!--col-md-12 com os icones do face e insta-->
<div class="container d-flex justify-content-center">
  <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-2"></fa-icon><a href="https://www.instagram.com/universabeauty/" target="_blank" class="estilo-a"><p class="tp-txt fa-2x p-2 font-weight-bold">@universabeauty</p></a>
  
</div>
<hr>
<!-- carrousel de imagens-->
<div class="tamanho">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/carousel-1.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/carousel-2.jpg" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/carousel-3.jpg" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
</div>
<hr>
<div class="container d-flex justify-content-center">
  <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold ">
       
    siga-nos
    
</h2>
</div>

<div class="container d-flex justify-content-center">
  <p class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
    <a href="https://www.instagram.com/universabeauty/" target="_blank"><fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-2"></fa-icon></a><a href="https://www.instagram.com/universabeauty/" target="_blank"><fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-2"></fa-icon></a>
  </p>

</div>
<hr>
