<hr>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                    <div class="login">
                        <div class="login-screen">
                        <div class="app-title">
                        <h1>Acesso</h1>
                        </div>
                        
                        <div class="login-form">
                        <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="usuário email" id="login-name" required="required" [(ngModel)] = 'userLogin.usuario'>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                        
                        <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="senha" id="login-pass" required="required" [(ngModel)] = 'userLogin.senha'>
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        
                        <a class="btn btn-primary btn-large btn-block text-uppercase" (click)='entrar()'>login</a>
                        </div>
                        </div>
                        </div>
                    </div>
                    Universa Beauty © 2020-2021 All Rights Reserved.
                    
            
        </div>
    </div>
    
    
</div>
<hr>


