<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-cliente></app-cliente>
        </div>
        <div class="col-md-8 d-flex mt-4">
            <h1>O Seu Próprio Universo Aqui!</h1>
        </div>
        
    </div>
</div>

<div class="d-flex justify-content-center pt-3">
    <div class="p-3 mr-3">
        <fa-icon [icon]="faTruck" class="faTruck fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold">ENVIAMOS PARA TODO BRASIL</h5>
        <p class="tp-txt">Compre sem sair de casa</p>
    </div>
    <div class="p-3 mr-3">
        <fa-icon [icon]="faCreditCard" class="faCreditCard fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> PARCELAMOS EM ATÉ 5X SEM JUROS</h5>
        <p class="tp-txt">Com todos os cartões de credito</p>
    </div>
    <div class="p-3">
        <fa-icon [icon]="faLock" class="faLock fa-1x p-3"></fa-icon>
        <h5 class="tp-text font-weight-bold"> COMPRE COM SEGURANÇA</h5>
        <p class="tp-txt">Seus dados sempre protegidos</p>
        </div>
  </div>
<br>
<hr>
<!--inicio-->
<div class="container d-flex justify-content-center">
    <ul>
        <li><a routerLink="/home">Início</a></li>
        <li>
            <span>
                >
        </span> 
    </li>
        <li>
            <span>
                <strong>Produtos</strong>
        </span>
    </li>
    </ul>
   </div>
<hr>
<!--container com produtos-->
<div class="container d-flex justify-content-center">
        
    <h2 class="title h1 h5-xs tp-estilo text-uppercase font-weight-bold">
   
        Produtos
        
    </h2>
</div>
<hr>
<!--categoria de produtos-->
<div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 id="categoria" class="text-uppercase font-weight-bold pb-3">Categoria</h3>
      <a routerLink=""><h4 class="categoria">Lançamentos</h4></a>
      <a routerLink=""><h4 class="categoria">Hidratantes</h4></a>
      <a routerLink=""><h4 class="categoria">Perfumes</h4></a>
   <!--lista de produtos-->     
      </div>
      <div class="col-md-10 ">
        <div class="container">
            <div class="row">
           <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="/assets/img/poseidon.jpg" alt="poseidon">
                  <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">Creme Hidratante Corporal - Poseidon</h5>
                    <p class="card-text tp-txt text-center">R$129,90</p>
                    <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted">5x DE R$25,98 SEM JUROS</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/assets/img/creme.jpeg" alt="creme">
                  <div class="card-body">
                    <h5 class="card-title text-uppercase text-center">Hidratante para Mãos - Toque Suave</h5>
                    <p class="card-text tp-text text-center">R$159,90</p>
                    <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted"><b>5X</b> DE R$29,98 SEM JUROS</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/assets/img/perfume.jpg" alt="perfume">
                  <div class="card-body">
                    <h5 class="card-title text-uppercase text-center">Essência Masculina - Deep Love</h5>
                    <p class="card-text tp-text text-center">R$149,90</p>
                    <p class="card-text tp-txt font-weight-bold text-center"><small class="text-muted">5x DE R$31,98 SEM JUROS</small></p>
                  </div>
                </div>
              </div>
           </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr>